<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">>
    <title>Admin Panel</title>
  </head>
  <body>
     <%- include('top', {isAuth: true, isAdmin: true, userName:userName}); %>
     <h1>Admin panel</h1>
  </body>
</html>