<!DOCTYPE HTML>
<html>
<head>
    <title>Highlights by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body class="is-preload">

    <!-- Include top menu -->
    <%- include('top', {isAuth: isAuth, isAdmin: isAdmin, userName: username}); %>

    <!-- Header -->
    <section id="header">
        <header class="major">
            <h1>Nemzeti Parkok</h1>
            <p>Tanösvények by <a href="http://html5up.net">HTML5 UP</a></p>
        </header>
        <div class="container">
            <ul class="actions special">
                <li><a href="#one" class="button primary scrolly">Begin</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="main special">
        <div class="container">
            <span class="image fit primary"><img src="/images/picKP01.jpg" alt="" /></span>
            <div class="content">
                <header class="major">
                    <h2>Tanösvények</h2>
                </header>
                <p>Oldalunkon megtalálod a legnépszerűbb tanösvényeket, térképeket, útvonalleírásokat, és tippeket, hogyan teheted hétvégi kirándulásodat igazán élvezetessé.</p>               
            </div>
            <a href="#two" class="goto-next scrolly">Next</a>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="main special">
        <div class="container">
            <span class="image fit primary"><img src="/images/picKP02.jpg" alt="" /></span>
            <div class="content">
                <header class="major">
                    <h2>Nemzeti Parkok</h2>
                </header>
                <p>Védett növényei</p>
                <ul class="icons-grid">
                    <li><span class="icon solid major fa-camera-retro"></span><h3>Téltemető</h3></li>
                    <li><span class="icon solid major fa-pencil-alt"></span><h3>Hóvirág</h3></li>
                    <li><span class="icon solid major fa-code"></span><h3>Leány kökörcsin</h3></li>
                    <li><span class="icon solid major fa-coffee"></span><h3>Bíbor kasvirág</h3></li>
                </ul>
            </div>
            <a href="#three" class="goto-next scrolly">Next</a>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="main special">
        <div class="container">
            <span class="image fit primary"><img src="/images/picKP03.jpg" alt="" /></span>
            <div class="content">
                <header class="major">
                    <h2>Tanösvények</h2>
                </header>
                <p>Hortobágyi Nemzeti Park (1973)</p>
                <p>Kiskunsági Nemzeti Park (1975)</p>
                <p>Bükki Nemzeti Park (1976)</p>
                <p>Aggteleki Nemzeti Park (1985)</p>
                <p>Fertő-Hanság Nemzeti Park (1991)</p>
                <p>Duna-Dráva Nemzeti Park (1996)</p>
                <p>Balaton-felvidéki Nemzeti Park (1997)</p>
                <p>Duna-Ipoly Nemzeti Park (1997)</p>
                <p>Körös-Maros Nemzeti Park (1997)</p>
                <p>Őrségi Nemzeti Park (1997)</p></p>
            </div>
            <a href="#footer" class="goto-next scrolly">Next</a>
        </div>
    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <header class="major">
                <h2>Kapcsolat</h2>
            </header>
            <form method="post" action="/kapcsolat">
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall"><input type="text" name="nev" id="name" placeholder="Name" /></div>
                    <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
                    <div class="col-12"><textarea name="uzenet" id="message" placeholder="Message" rows="4"></textarea></div>
                    <div class="col-12">
                        <ul class="actions special">
                            <li><input type="submit" value="Send Message" class="primary" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <footer>
            <ul class="icons">
                <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands alt fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li><li>Design:Highlights <a href="http://html5up.net">HTML5 UP</a></li><li>Demo Images: <a href="http://unsplash.com">Unsplash</a></li>
            </ul>
        </footer>
    </section>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>
