<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">>
    <title>Dashboard</title>
  </head>
  <body>
     <%- include('top', {isAuth: true, isAdmin: isAdmin, userName: username}); %>
     <h1>Dashboard for logged in users</h1>
  </body>
</html>